*{
    margin: 0;
    padding: 0;
}
body{
background-color: #bc6c25;
text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    font-size: 8vmin;
    background-color: #fefae0;
    color: #606c38;
}
#reset-btn{
    padding: 1rem;
    font-size: 1.5rem;
    color: white;
    background-color:#283618 ;
    border-radius: 1rem;
}
#new-btn{
    padding: 1rem;
    font-size: 1.5rem;
    color: white;
    background-color:#283618 ;
    border-radius: 1rem;

}
#msg{
    color: #fefae0;
    font-size: 5vmin;
    
}
.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.hide{
    display: none;
}